<h1 style="text-align:center;">🦴 骨 資料集</h1>

<div style="text-align:center;">

  <% (1..44).each do |i| %>

    <p>
      <a href="/pdfs/bone/bone_<%= "%03d" % i %>.pdf" target="_blank">
        📄 bone_<%= "%03d" % i %>.pdf
      </a>
    </p>

  <% end %>

</div>