<h1 style="
  text-align:center;
  font-size:34px;
  margin-top:30px;
  margin-bottom:40px;
">
  📚 参考資料
</h1>

<!-- 解剖 -->
<a href="/anatomy_pdfs" style="text-decoration:none;">
  <div style="
    border:1px solid #ccc;
    background:white;
    color:black;
    padding:15px;

    width:60%;
    margin:20px auto;

    text-align:center;
    border-radius:8px;
    font-weight:bold;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
    font-size:28px;
  ">
    📁 解剖学
  </div>
</a>

<!-- 生理学 -->
<a href="/physiology_pdfs"
   style="
   display:block;
   border:1px solid #ccc;
   background:white;
   color:black;
   padding:15px;
   width:60%;
   margin:20px auto;
   text-align:center;
   border-radius:8px;
   font-weight:bold;
   box-shadow:0 2px 6px rgba(0,0,0,0.1);
   font-size:28px;
   text-decoration:none;
">
📁 生理学
</a>

<!-- 運動学 -->
<a href="/kinesiology_pdfs"
   style="
   display:block;
   border:1px solid #ccc;
   background:white;
   color:black;
   padding:15px;
   width:60%;
   margin:20px auto;
   text-align:center;
   border-radius:8px;
   font-weight:bold;
   box-shadow:0 2px 6px rgba(0,0,0,0.1);
   font-size:28px;
   text-decoration:none;
">
📁 運動学
</a>