<h1 style="
  text-align:center;
  font-size:34px;
  margin-top:30px;
  margin-bottom:40px;
">
  📚 資料ライブラリ
</h1>

<!-- 骨 -->
<a href="/bone_pdfs" style="text-decoration:none;">
  <div style="
    border:1px solid #ccc;
    background:white;
    color:black;
    padding:15px;

    width:60%;
    margin:20px auto;

    text-align:center;
    border-radius:8px;
    font-weight:bold;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
    font-size:28px;
  ">
    📁 骨
  </div>
</a>

<!-- 筋肉 -->
<div style="
  border:1px solid #ccc;
  background:#dcdcdc;
  color:white;
  padding:15px;

  width:60%;
  margin:20px auto;

  text-align:center;
  border-radius:8px;
  font-weight:bold;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
  font-size:28px;
">
  📁 筋肉（準備中）
</div>

<!-- 生理学 -->
<div style="
  border:1px solid #ccc;
  background:#dcdcdc;
  color:white;
  padding:15px;

  width:60%;
  margin:20px auto;

  text-align:center;
  border-radius:8px;
  font-weight:bold;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
  font-size:28px;
">
  📁 生理学（準備中）
</div>