

<div style="
padding:15px;
max-width:800px;
margin:auto;
min-height:100vh;

background-image:url('/images/top/f_top.png');
background-size:85%;
background-position:center -25px;
background-repeat:no-repeat;
">

  <h1 style="text-align:center;">
    📚イラスト集
  </h1>

  <!-- 骨 -->
  <a href="/bone" style="text-decoration:none;">
    <div style="
      border:1px solid #ccc;
      background:white;
      color:black;
      padding:15px;

      width:60%;
      margin:20px auto;

      text-align:center;
      border-radius:8px;
      font-weight:bold;
      box-shadow:0 2px 6px rgba(0,0,0,0.1);
    ">
      🦴 骨
    </div>
  </a>

  <!-- 筋肉 -->
  <a href="/muscle" style="text-decoration:none;">
    <div style="
      border:1px solid #ccc;
      background:white;
      color:black;
      padding:15px;

      width:60%;
      margin:20px auto;

      text-align:center;
      border-radius:8px;
      font-weight:bold;
      box-shadow:0 2px 6px rgba(0,0,0,0.1);
    ">
      💪 筋肉
    </div>
  </a>

  <!-- 生理学 -->
  <a href="/physiology" style="text-decoration:none;">
    <div style="
      border:1px solid #ccc;
      background:white;
      color:black;
      padding:15px;

      width:60%;
      margin:20px auto;

      text-align:center;
      border-radius:8px;
      font-weight:bold;
      box-shadow:0 2px 6px rgba(0,0,0,0.1);
    ">
      🫀 生理学
    </div>
  </a>

</div>