<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="
  max-width: 700px;
  margin:5px auto 15px;
  text-align: center;
">

  <h1 style="
  font-size:24px;
  margin-top:0;
  margin-bottom:10px;
">
  🫀 生理学 苦手分析
</h1>

  <div id="physiology-box" style="
    background: white;
    padding: 10px 16px;
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
  ">
  </div>

</div>

<div style="
  margin-top: 12px;
  background: white;
  padding: 16px;
  border-radius: 18px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
">

  <h2 style="
  font-size:18px;
  margin-bottom:10px;
">
  ⭐ 分野別 苦手度チャート
</h2>

  <div style="
    height:360px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#999;
    border-radius:12px;
  ">
    <canvas id="radarChart"></canvas>
  </div>
  <p style="
  text-align:right;
  font-size:13px;
  color:#888;
  margin-top:8px;
  margin-bottom:0;
  padding-right:8px;
">
  ※ レーダーチャートは5択・○×問題のみ集計しています
</p>

</div>

<script>
const wrong = JSON.parse(localStorage.getItem("wrong")) || []

let physiology = 0

let nervePhysiology = 0
let musclePhysiology = 0
let circulation = 0
let respiration = 0
let organ = 0
let hormone = 0
let digestion = 0
let homeostasis = 0

wrong.forEach(q => {

  if(q.category === "生理") physiology++

  if(q.subcategory === "神経生理") nervePhysiology++
  if(q.subcategory === "筋生理") musclePhysiology++
  if(q.subcategory === "循環") circulation++
  if(q.subcategory === "呼吸") respiration++
  if(q.subcategory === "内臓") organ++
  if(q.subcategory === "ホルモン") hormone++
  if(q.subcategory === "消化") digestion++
  if(q.subcategory === "体温・恒常性") homeostasis++

})

document.getElementById("physiology-box").innerHTML = `
🫀 生理学：${physiology}問<br><br>

🧠 神経生理：${nervePhysiology}問<br>
💪 筋生理：${musclePhysiology}問<br>
🫀 循環：${circulation}問<br>
🫁 呼吸：${respiration}問<br>
🩺 内臓：${organ}問<br>
🧪 ホルモン：${hormone}問<br>
🍚 消化：${digestion}問<br>
🌡️ 体温・恒常性：${homeostasis}問
`;
const ctx = document.getElementById("radarChart");

new Chart(ctx, {
  type: "radar",
  data: {
    labels: [
      "神経生理",
      "筋生理",
      "循環",
      "呼吸",
      "内臓",
      "ホルモン",
      "消化",
      "体温"
    ],
    datasets: [{
      label: "苦手問題数",
      data: [
        nervePhysiology,
        musclePhysiology,
        circulation,
        respiration,
        organ,
        hormone,
        digestion,
        homeostasis
      ]
    }]
  },
  options: {
    responsive: true,
    plugins: {
      legend: {
        display: false
      }
    },
    scales: {
      r: {
        beginAtZero: true,
        ticks: {
          stepSize: 1
        }
      }
    }
  }
});
</script>